@page "/create"
@using ToDoApp.Data

<h3>Create</h3>

<div class="container border border-primary">
    <EditForm Model="NewItem" OnValidSubmit="CreatePost">

        <div class="form-group mb-3">
            <label for="postItem">Item</label>
            <InputText @bind-Value="NewItem.Item" class="form-control" id="postItem"></InputText>

            <label for="dteCreated">Created On</label>
            <InputDate @bind-Value="NewItem.CreatedOn" class="form-control" id="postItem"></InputDate>
        </div>

    </EditForm>


    <div class="row">
        <div class="col">
            <button class="btn btn-primary w-100" type="submit">Add Item</button>
        </div>
        <div class="col">
            <button class="btn btn-danger w-100" type="reset">Clear</button>
        </div>
    </div>
</div>

@code {

    [Inject] AppDbContext _db { get; set; }
    [Inject] NavigationManager NavMan { get; set; }

    private ToDoItem NewItem = new ToDoItem();

    private async Task CreatePost()
    {
        await _db.ToDoItems.AddAsync(NewItem);
        await _db.SaveChangesAsync();
        NavMan.NavigateTo("/");

    }

}
