@using ToDoApp.Data
@using Microsoft.EntityFrameworkCore


@page "/"

<h1>Welcome to your new ToDo App</h1>

<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Item</th>
            <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in _items)
        {
            <tr>
                <td scope="row">@i.Id</td>
                <td>@i.Item</td>
                <td>@i.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>

@code{

    [Inject] AppDbContext _db { get; set; }

    private List<ToDoItem> _items = new List<ToDoItem>();

    protected override async Task OnInitializedAsync()
    {
        _items = await _db.ToDoItems.ToListAsync();
    }
}